<div class="card">
    <div class="card-header">
        Reservaciones
    </div>

    <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th >Nombre</th>
                        <th >Num. Personas</th>
                        <th >Telefono</th>
                        <th >Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="">
                        <td>Gael Alejandro</td>
                        <td>3</td>
                        <td>8124462717</td>
                        <td>
                            <a  class="btn btn-danger" role="button" routerLink="/editar-empleado/1"> Editar </a> | 
                            
                            
                          <a  class="btn btn-danger" role="button">Borrar</a>  
                        </td> 

                    </tr>
                
                </tbody>
            </table>
        </div>
        

    </div>
 
