<div class="card">
    <div class="card-header">
        Reservaciones
    </div>

    <div class="card-body">
            <table *ngIf="listProductos.length > 0"  class="table">
                <thead>
                    <tr>
                        <th >Nombre</th>
                        <th >Num. Personas</th>
                        <th >Telefono</th>
                        <th >Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let producto of listProductos">
                        <td>  {{ producto.nombre   }}   </td>
                        <td> {{ producto.numpersonas   }} </td>
                        <td> {{ producto.telefono   }} </td>
                        <td>
                            
                            
                            <a  (click)="eliminarProducto(producto._id)" class="btn btn-danger"  role="button">Borrar</a>  
                        </td> 

                    </tr>
                
                </tbody>
            </table>
            <h5  style="text-align: start; margin-top: 10px;" *ngIf="listProductos.length == 0">No hay Reservaciones</h5>
        </div>
        

    </div>
 
