<div class="card">
    <div class="card-header">
        Editar Reservacion
    </div>
    <div class="card-body">
       <form >

<div class="mb-3">
  <label for="" class="form-label">Nombre</label>
  <input type="text"
    class="form-control" name="" id="" aria-describedby="helpId" placeholder="Escribe tu nombre">
    <div class="text-danger">
      <span>El nombre es obligatorio </span>
    </div>
</div>


<div class="mb-3">
    <label for="" class="form-label">Num. Personas</label>
    <input type="number"
      class="form-control" name="" id="" aria-describedby="helpId" placeholder="Escribe el numero de Personas">
  </div>
  

  <div class="mb-3">
    <label for="" class="form-label">Telefono</label>
    <input type="text"
      class="form-control" name="" id="" aria-describedby="helpId" placeholder="Escribe un numero Telefonico">
  </div>
  
<div class="btn-group" role="group" aria-label="Button group name">
  <button type="button" class="btn btn-success"> Agregar </button>
  <button type="button" routerLink="/listar-empleado/" class="btn btn-primary"> Cancelar </button>
</div>


       </form>  


    </div>
   
</div>