<div class="container">


<nav class="navbar navbar-expand navbar-light ">
    <div class="nav navbar-collapse" >
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 " >
      <a class="nav-item nav-link" routerLink="home-empleado" >Home</a>
      <a class="nav-item nav-link" routerLink="listar-empleado" >Listar Reservaciones</a>
        <a class="nav-item nav-link" routerLink="agregar-empleado" >Agregar Reservaciones</a>



         </ul>
    </div>
    </nav>

    </div>
<div class="container">
 
 <router-outlet></router-outlet>
</div>

